* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 450px;
  background-color: blue;
}

.header-content {
  height: 450px;
  width: 85%;
  margin: auto;
  background-color: blue;
  border: 1px solid black;
}

.navbar-header {
  height: 80px;
  background-color: lightblue;
  width: 100%;
  margin: auto;
}
.navbar-header::after{
  content: "";
  display: table;
  clear: both;
}

.navbar-header-left {
  float: left;
  height: 80px;
}
.navbar-header-left img {
  vertical-align: middle;
}
.navbar-header-left ul {
  list-style: none;
  display: inline;
  vertical-align: middle;
  line-height: 80px;
}
.navbar-header-left li {
  display: inline;
  padding: 0 10px;
}

.navbar-header-right {
  float: right;
}
