/* regole generali */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  height: 500px;
  background-image: url(../img/oldman.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 103% 110%;
  background-color: #0C325A;
}

.header-content {
  height: 500px;
  width: 85%;
  margin: auto;
}

.float-left {
  float: left;
}

/* navbar */

.navbar-header {
  height: 80px;
  width: 100%;
  margin: auto;
  font-size: 13px;
}
.navbar-header::after{
  content: "";
  display: table;
  clear: both;
}

/* navbar sinistra */

.navbar-header-left {
  height: 80px;
  width: 70%;
}
.navbar-header-left img {
  vertical-align: middle;
}
.navbar-header-left ul {
  display: inline;
  line-height: 80px;
  vertical-align: middle;
  list-style: none;
}
.navbar-header-left li {
  display: inline;
  padding: 0 10px;
}
.navbar-header-left li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.navbar-header-left ul li:first-child a {
  padding-left: 40px;
}

/* navbar destra */

.navbar-header-right {
  height: 80px;
  width: 30%;
  float: right;
}
.navbar-header-right ul {
  display: inline;
  vertical-align: middle;
  line-height: 80px;
  list-style: none;
}
.navbar-header-right ul li {
  display: inline;
  padding: 0 10px;
}
.navbar-header-right li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* bottoni navbar */

.login-button {
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

.navbar-button {
  padding: 5px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  background-color: #7CBB02;
}

/* contenuto header */

.header-mid {
  position: relative;
  height: 420px;
  width: 100%;
}

.main-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  font-size: 25px;
  color: white;
}
.main-title h1 {
  margin-bottom: 25px;
}

.header-mid-button {
  padding: 20px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: #7CBB02;
}

/* sezione sottotitolo main */

.sub-section {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: #D3D3D3;
}

.sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sub-title p {
  color: #808080;
  margin-top: 10px;
}

/* inizio main principale */

.main-section {
  height: 500px;
  width: 85%;
  margin: auto;
}
.main-section::after {
  content: "";
  display: table;
  clear: both;
}
.main-section hr {
  width: 60px;
  margin: 30px auto;
  color: #808080;
}
.main-section p {
  line-height: 25px;
  color: #808080;
}
.main-section img {
  height: 150px;
}
.main-section h2 {
  margin-top: 15px;
  color: #7CBB02;
}

.box-left,
.box-mid,
.box-right {
  width: calc(100% / 3);
  padding: 50px;
  text-align: center;
}
