* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  height: 500px;
  background-color: #0C325A;
  background-image: url(../img/oldman.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 103% 110%;

}

.header-content {
  height: 500px;
  width: 85%;
  margin: auto;
}

/* navbar */

.navbar-header {
  height: 80px;
  width: 100%;
  margin: auto;
  font-size: 13px;
}
.navbar-header::after{
  content: "";
  display: table;
  clear: both;
}

/* navbar sinistra */

.navbar-header-left {
  float: left;
  height: 80px;
  width: 70%;
}
.navbar-header-left img {
  vertical-align: middle;
}
.navbar-header-left ul {
  list-style: none;
  display: inline;
  vertical-align: middle;
  line-height: 80px;
}
.navbar-header-left li {
  display: inline;
  padding: 0 10px;
}
.navbar-header-left li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar-header-left ul li:first-child a {
  padding-left: 40px;
}

/* navbar destra */

.navbar-header-right {
  float: right;
  height: 80px;
  width: 30%;
}
.navbar-header-right ul {
  list-style: none;
  display: inline;
  vertical-align: middle;
  line-height: 80px;
}
.navbar-header-right ul li {
  display: inline;
  padding: 0 10px;
}
.navbar-header-right li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* bottoni navbar */

.login-button {
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

.navbar-button {
  color: white;
  background-color: #7CBB02;
  padding: 5px 20px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* contenuto header */

.header-mid {
  position: relative;
  width: 100%;
  height: 420px;
}

.main-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  color: white;
  font-size: 25px;
}
.main-title h1 {
  margin-bottom: 25px;
}

.header-mid-button {
  color: white;
  background-color: #7CBB02;
  padding: 20px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
}
